#fullscreen_btn {
    float:right;        
}

#view{
    overflow:auto;
    white-space:pre-line;
    width:550px;
    height:380px;
    padding:10px;
}


    /* width in scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

